h2::before {
    content: "🔸 ";
    /* ใส่สัญลักษณ์ไอคอน */
    color: #FF5733;
    /* เปลี่ยนสีข้อความ */
}

/* สร้างเนื้อหาหลังจากลิงก์ */
p::after {
    content: " 🌐";
    /* ใส่สัญลักษณ์ไอคอน */
    color: #0099CC;
    /* เปลี่ยนสีข้อความ */
}