div {
    width: 300px;
    height: 150px;
    border: 2px solid black;

    /* เดิมเดิมไม่มีอะไร */
    /* overflow: visible; */

    /* ซ่อนเนื้อหาที่เกิน */
    /* overflow: hidden; */

    /* เพิ่ม scroll */
    /* overflow: scroll; */
    
    /* เพิ่ม scroll ตอนจำเป็น */
    overflow: auto;
}