div {
    /* ความกว้าง */
    width: 300px;
    
    /* ความสูง */
    height: 150px;
    
    /* สีพื้นหลัง */
    background: #000;

    /*เลือกใช้ภาพพื้นหลัง */
    background-image: url(../img/fuji.jpg);
    /* background: url(../img/fuji.jpg) no-repeat; */

    /* ไม่ให้ภาพพื้นหลังแสดงซ้ำ */
    background-repeat: no-repeat;

    /* ภาพพื้นหลังจะแสดงเต็ม */
    background-size: cover;

    /* ภาพพื้นหลังจะแสดงอยู่ตรงกลาง x y*/
    background-position: 50% 50%;
    
    /* สีข้างใน */
    color: white;
    
    /* ปรับ text อยู่ตรงกลาง */
    text-align: center;

    /* กำหนดเส้นขอบ border */
    border: 5px solid red;
}

@font-face {
    /* กำหนดชื่อ fonts อะไรก็ได้*/
    font-family: Kanit;
    src: url(../font/Kanit-ExtraLight.woff);
}

body {
    /* เรียกใช้งาน Fonts ชื่อ Kanit*/
    font-family: 'Kanit'
}